nav {
background-color: green;
}

header {
    color: navy;
    font-family: 'Lucida Sans';
    text-align: center;
    margin-top: 5px;
    padding-bottom: 10px;
    background-color: chocolate;
    margin-bottom: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

body {
    font-family: 'Lucida Sans';
    color: navy;
    background-color: cornsilk;
    background-image: url(images/gcitaly.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.href {
  color: green;
}

p {
    font-family: 'Lucida Sans';
    color: maroon;
    padding: 5px;
}


main {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color:  rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

input {
    display: inline-block;
    float: left;
}

#p1 {
    font-family: 'gcitaly';
    color: maroon;
    size: 15px;
    padding: 20px;
}
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
